{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <img src="{{ url_for('static', filename='images/bulb.jpg') }}" alt="">
    <div class="text-content">
        <h1><span style="color:rgb(202, 77, 31);">When you find an idea that you </span>just can't stop thinking about, that's probably <span style="color:rgb(202, 77, 31);">a good one</span> to pursue <span> - Pitching.</span></h1>
        
        <h2 style="color: rgb(202,77,31);">Josh James</h2>
        <br>
    
      
    </div>
    
</div>


{% endblock %}