<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Pitch Arena</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse">
            
            <ul class="dropdown-menu navbar-nav mr-auto">
                <a class= "nav-item">Categories</a>
                <li class="nav-item active" >
                    
                    <a href="">
                        Home
                    </a>
                </li>
             <li>
                 <a href="/BusinessPitch">
                     Business Pitches
                 </a>

             </li>


              <li>
                  <a href="/ElevatorPitch">
                      Elevator Pitches
                  </a>
              </li>

              <li>
                  <a href="/JokePitches">
                      Joke Pitches
                  </a>
              </li>
    
          </ul>

      </div>


    </nav>
  </div>